language: ruby
rvm: 2.2.5
sudo: false
dist: trusty
branches:
  only:
  - develop
env:
  secure: B/gsrJxHEyYKEBR3YtRd1OPHjoxjQef42pTznjh3kX3/Cq7kJNH5iVdieLcVJHE+hjAM8sMI3E/+XiHf5eiOQKpSjE7ZXPpjVexZX+xSP0ePGfazlkJVu8CxGFgOgC+KUhomNTpyAm3VxHcywq23FGudFTe4KYLLig3fKD00m24=
install: gem install jekyll jekyll-paginate rake
script: rake
deploy:
  provider: pages
  local-dir: _site
  target-branch: master
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  email: evt@rit.edu
  name: evtbot
  verbose: true
  on:
    branch:
    - develop
after_deploy:
- "git branch -r --merged origin/develop | grep -v \* | grep -v '/master' | grep -v '/develop' | while read line; echo ${line//*\/}; done"
#- git branch -r --merged origin/develop | grep -v \* | grep -v '/master' | grep -v '/develop' | while read line; do git push origin :${line//*\/}; done
notifications:
  email: false
  slack:
    secure: rI2BFBoR5PK1sucklDHhhSJG2f+ZjMr4vBpSrb+PBShC8MhZM+C5kUWRKbDHrFiE3sRndF3vE+8zi8gCxyqfKcgYBrbCwTy5rKzh0g80DsdDf5Jcp+azsGcoTEF8R3xtWiv1Q3TZCcIyulE1jWPcpOmP3SeWE7UeSbvrPxXFmEA=
    on_pull_requests: false
    on_success: always
