---
layout: default
---

<div class="panel textbox" id="banner">
  <h2>Interested in joining EVT? <a href="http://eepurl.com/4qRBj">Click here to join our mailing list!</a></h2>
</div>

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div class="post">

  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date:"%b %-d, %Y" }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>