<div class="row">
    <div class="col-md-12">
        <div class="post-comment-wrapper clearfix">
            <h3>Comment (3)</h3>
            <div class="comment-box clearfix">
                <img src="/assets/img/blog/blog-1.jpg" class="img-responsive" alt="">

                <span>by user | <a href="#" class="hover-color">Reply</a></span>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div><!--comment box-->
            <div class="comment-box clearfix">
                <img src="/assets/img/blog/blog-2.jpg" class="img-responsive" alt="">

                <span>by user | <a href="#" class="hover-color">Reply</a></span>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div><!--comment box-->
            <div class="comment-box clearfix">
                <img src="/assets/img/blog/blog-3.jpg" class="img-responsive" alt="">

                <span>by user | <a href="#" class="hover-color">Reply</a></span>
                <p>
                    aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                </p>
            </div><!--comment box-->
        </div><!--comment wrapper-->
        <div class="space-40"></div>
        <div class="comment-form-wrapper">
            <h3>leave a comment</h3>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" rows="7" placeholder="Comment"></textarea>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-lg theme-btn-color">Comment</button>
                    </div>
                </div>
            </form>
        </div><!--comment form wrapper-->
    </div>
</div><!--row-->

<div class="row">
    <div class="col-md-12">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div><!--pagiantion-->