<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>RIT Electric Vehicle Team</h3>
                    <p>
                        The RIT Electric Vehicle Team is a student run organization dedicated to promoting the viability of electric vehicles through real world demonstrations of electric drivetrains in action. The team aims to educate people on the principles of electric vehicle design by engaging students in challenging and rewarding projects that cover a wide variety of academic disciplines.
                    </p>
                </div>
                <div class="space-20"></div>
                <div class="footer-col">
                    <h3>Contact Info</h3>
                    <p><i class="ion-home"></i> 4th floor of KGCOE 09-4408</p>
                    <p><i class="ion-iphone"></i> Meetings on Mondays and Thursdays 7pm-9pm</p>
                    <ul class=" list-inline social-btn">
                    <li><a href="https://www.facebook.com/RitElectricVehicleTeam" target="_top"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like us on facebook"></i></a></li>
                    <li><a href="mailto:evt@rit.edu?Subject=Hello" target="_top"><i class="ion-email" data-toggle="tooltip" data-placement="top" title="" data-original-title="Contact us directly"></i></a></li>
                    </ul>
                    </div>
            </div><!--col-4 end-->
        </div><!--footer main row end-->
        <div class="space-70"></div>
        <div class="row">
            <div class="col-md-12 text-center footer-bottom">
                <a href=""> <img src="/assets/img/logo-white.png" alt=""></a>
                <div class="space-20"></div>
                <span>&copy;2016 | Built by Mark Koellmann and Wheeler Law</span>
            </div>
        </div><!--footer copyright row end-->
    </div><!--container-->
</div><!--footer main end-->