<header class="header-main">
    <div class="navbar navbar-default yamm" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=""><img src="/assets/img/logo-dark.png" class="img-responsive" alt=""></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/projects/">Projects</a></li>
                    <li><a href="/sponsors/">Sponsors</a></li>
                    <li><a href="/resources/">Resources</a></li>

                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-->
    </div><!--navigation end-->

</header><!--header main end-->