<!--scripts-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.97074.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/assets/js/masonary-custom.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-hover-dropdown.min.js"></script>
<script type='text/javascript' src='/assets/js/jquery.placeholder.min.js'></script>
<script type="text/javascript" src="/assets/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/assets/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="/assets/js/parallax.min.js"></script>
<script type="text/javascript" src="/assets/js/wow.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/mailchimp-custom.js"></script>
<script type="text/javascript" src="/assets/js/jquery.hoverdir.js" ></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {

                var data = google.visualization.arrayToDataTable([
                  ['Team', 'Number of Members'],
                  ['Electrical',     20],
                  ['Mechanical',     13],
                  ['Firmware',        8],
                ]);

                var options = {
                  title:         'EVT Subteam Membership',
                  colors:       ['#ff8100', '#ff9a35', '#ffad5b'],
                  fontName:      '',
                  forceIFrame:   false,
                };

                var chart = new google.visualization.PieChart(document.getElementById('Subgroup_piechart'));

                chart.draw(data, options);
              }
        </script>

<!--page template scripts-->
<script type="text/javascript" src="/assets/masterslider/masterslider.min.js"></script>
<script type="text/javascript" src="/assets/js/masterslider-custom.js"></script>


<!--Required javascript to make the sponsor tiles load properly -->
<script type="text/javascript">
            $(function () {

                $(' .mas-boxes > .direc-hover-box ').each(function () {
                    $(this).hoverdir();
                });

            });
        </script>
