<div class="sidebar">
  <div id="sidebar-content">
    <img src="/img/color-transparent-logo.svg"/>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/sponsors">Sponsors</a></li>
    </ul>
    <div class="connect-bar section group">
      <div class="col span_1_of 3">
        <a href="https://www.facebook.com/RitElectricVehicleTeam"><img src="/img/facebook29.svg"></a>
      </div>
      <div class="col span_1_of 3">
      </div>
      <div class="col span_1_of 3">
      </div>
    </div>
  </div>
</div>