<div class="sidebar">
  <div id="sidebar-content">
    <img src="/img/color-transparent-logo.svg"/>
    <div class="sidebar-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
      </ul>
    </div>
    <div class="connect-bar section group">
      <div class="col span_1_of_3 connect-icon">
        <a href="https://www.facebook.com/RitElectricVehicleTeam"><img src="/img/facebook29.svg"></a>
      </div>
      <div class="col span_1_of_3 connect-icon">
        <a href="mailto:evt@rit.edu?Subject=Hello"><img src="/img/mail59.svg"></a>
      </div>
      <div class="col span_1_of_3 connect-icon">
        <a href="https://bitbucket.org/evt"><img src="/img/bitbucket3.svg"></a>
      </div>
    </div>
  </div>
</div>