---
layout: default
---
<h1>Member Resources</h1>

<div class="resource-container">
    {% for r in site.data.resources %}
    <div class="panel resource-panel">

        <div class="resource-title">
            <h2>{{ r.name }}</h2>
        </div>

        <div class="resource-content">
            {% if r.image %}
            <div class=" resource-img-container" style="width: {{r.image_height}}px;">
                <img class="resource-img" src="{{ r.image }}" >
            </div>
            {% endif %}
            <div class="resource-desc">
                <p class="" style="">
                    {{ r.description }}
                </p>
            </div>

        </div>
        <div class="" style="padding: 3%; text-align: center; display: block">
            <a class="btn" style="width: 100%" href="{{ r.url }}" target="_blank">{{ r.button_text }}</a>
        </div>

    </div>
    {% endfor %}
</div>