/**
 * Site header
 */
.section{
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.panel {
  background: #ECF0F1;
  //padding-top: 0.5em;
  //padding-bottom: 0.5em;
  box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
  margin-bottom: 1em;
  h2 {
    color: #F36E21;
  }
  p {
  }

}
/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
  zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
  width: 98%;
}
.span_2_of_3 {
  width: 66.13%;
}
.span_1_of_3 {
  width: 30.26%;
}

/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 47.2%;
}

/*  GRID OF SEVEN  */
.span_7_of_7 {
  width: 100%;
}

.span_6_of_7 {
    width: 85.48%;
}

.span_5_of_7 {
    width: 69.00%;
}

.span_4_of_7 {
    width: 56.45%;
}

.span_3_of_7 {
    width: 41.94%;
}

.span_2_of_7 {
    width: 27.65%;
}

.span_1_of_7 {
    width: 12.91%;
}

.project-list ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.sidebar {
  background: #ECF0F1;
  position: fixed;
  min-height: 100vh;
  width: 20%;
  display: block;
  padding-top: 5%;
}

.sidebar a {

}

.sidebar a:active{
  background: #FF9900;
}

.sidebar a:hover{
  background-color: #666666;
}

.sidebar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  display: inline;
}
.sidebar img{
  display: block;
  margin: auto;
}

#sidebar-content{
  position: relative;
  margin-right: 5%;
  margin-left: 5%;
}

.sidebar-links {
  margin-top: 1em;
  a {
    margin-top: 0.5em;
    display: block;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    background: #F36E21;
    font-weight: bold;
  }
}

#sidebar-meetings{
  h3 {
    font-weight: bold;
  }
  margin-left:0.5em;
  bottom: 0;
}



.connect-bar{
  //margin-left: 10%;
  //margin-right: 10%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  clear: both;
  img {
    height: 2em;
    min-width: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  a {
    background: none;
  }
}


.full-text-span {
  margin: 1% 0 1% 0%;
}



.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  width: 80%;
  overflow: auto;
  z-index: -1;
  float: right;
  h1,h2,h3 {
    color: #F36E21;
    font-weight: bold;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post {
  padding: 50px 80px 50px 80px;
  background: #ECF0F1;
  margin-top: 1em;
  box-shadow: 0 0 0 0,0 6px 12px rgba(34,34,34,0.1);
  a {
    color: #F36E21;
  }
}

@media only screen and (max-width: 610px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  .span_1_of_2, .span_2_of_2 { width: 100%; }
  .span_2_of_7, .span_5_of_7 { width: 100%; }
  .sidebar{
    width: 100%;
    min-height: 5%;
    position: static;
    padding-top: 0%;
  }
  .page-content{
    width: 100%;
  }
  .connect-bar{
    margin-left: 20%;
    margin-right: 20%;
  }
  .connect-icon{
    width: 33.33%;
  }
  #sidebar-meetings{
    display: none;
  }

}

@media only screen and (max-width: 799px) {
  .span_2_of_7, .span_5_of_7 { width: 100%; }
}

.sponsor-container {
  text-align: center;
  width: 100%
}

.sponsor-row {
  margin-top: 2%;
  display:inline-block;
  width: 100%
}

.sponsor-large {
  //max-width: 30%;
  display:inline-block;
  font-size: 1.5em;
  padding:  1%;
}

.sponsor-med {
  //max-width: 20%;
  display:inline-block;
  font-size: 1.2em;
  padding: 2%;

}

.sponsor-small {
  //max-width: 15%;
  display:inline-block;
  font-size: 1em;
  padding: 3%;

}

.btn {
  background-color: #F58120;
  border-radius: 5px;
  padding: 2% 5%;
  color: #ffffff;
  text-align: center;
  width: 150px;
  margin: 0 auto;
}

.btn:hover {
  text-underline-mode: none;
  background-color: #e1761d;
  text-decoration: none;
  color: #ffffff;
}

.btn:active {
  background-color: #934d13;
}

.btn:visited {
  color: #ffffff;
}


.picture {
    height: 274px;
    width: 274px;
}

.resource-container {
  display: block;
  margin-bottom: 20px;
  .card-container{
    margin: 2%;
  }
}

.resource-title {
  height: 50px;
}

.resource-panel {
  padding: 2%;
  display: inline-block;
  //margin: 50px 0 0 20px;
}

.resource-content {
  text-align: center;
  margin: 0 auto;

  //margin: 3% auto;

}

.resource-desc {
  height: 100px;
}

.resource-img-container {
  //margin: 4%;
  max-width: 100%;
  //clear: both;
  //display: block;
  margin-right: auto;
  margin-left: auto;
  padding: auto;
  height: 200px;
}

.resource-img {
  width: 100%;
  //max-height: 100%;
}

.resource-btn {
  border-radius: 0;
}

@media(max-width:767px){  //x-small
  .resource-panel {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
    //height: 200px;
  }
}
@media(min-width:768px){  //small
  .resource-panel {
    width: 40%;
    margin: 50px 0 0 5%;
    //height: 500px;
  }
}
@media(min-width:992px){  //med

}

.card{
  max-width: 275px;
  margin: 1%;
  
  display: inline-block;
}

.small-card{
  width: 215px;
  vertical-align: top;
  display: inline-block;
  @media(min-width:609px){
    width:150px; 
  } @media(min-width:1000px){
    width: 215px;
  }
}

.card-description{

}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.full-height {
  min-height: 100%;
}

.medium-img {
  width: 1024px;
  @media(max-width:600px){
    width: 463px;
  }
}

.portrait-img {
  height: 245px;
  width: 245px;
}

.small-portrait-img {
  height: 215px;
  width: 215px;
  @media(max-width:1000px){
    height: 150px;
    width: 150px;
  }@media(max-width:609px){
    height: 215px;
    width: 215px;
  }
}

.textbox {
  padding: 0.75em;
}

.no-bullet-list {
  list-style-type: none;
}