/*************************************buttons for RIT Electric Vehicle Team theme********************************/
.btn{
  font-weight: 700;
  font-family: $title-font;
  font-size: 12px;
  text-shadow: none;
  text-transform: uppercase;
  @include transition (all 0.3s ease-in);
  @include border-radius(0px);
  @include box-shadow (none);
  display: inline-block;
  letter-spacing: 1px;
  &:hover,
  &:focus{
    color:#fff;
    outline: none;
  }
}
/*button white for colored background*/
.btn-white{
  background-color: transparent;
  color:#fff;
  @include border-radius(0px);
  border:2px solid #fff;
  &:hover{
    background-color: #fff;
    color:#222;
  }
}
.btn-dark{
    background-color: #333;
    color:#fff;
    &:hover{
         background-color:#666;
    }
}
.btn-big{
  padding: 14px 25px;
}
/*button default*/
.theme-btn-default{
  background-color: #fff;
  border: $default-border;
  color:#555;
  &:hover,
  &:focus{
    color:#fff;
    background-color: #000;
    border-color:#000;
  }
}

/*theme color button*/
.theme-btn-color{
  background-color: $skincolor;
  border-color:$skincolor;
  color:#fff;
  &:hover{
    color:#fff;
    background-color: #000;
    border-color:#000;
  }
}

.btn-sweet-alert{
    margin: 5px;
}
/***btn radius***/
.btn-radius{
  padding: 12px 50px;
  @include border-radius(30px);
}
