//some variables for RIT Electric Vehicle Team theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor: #4c779e;
$lightcolor:#fff; //white color and background
$graycolor:#777; //gray color for p tags
$darkcolor:#333; //dark color for heading
$primary-font: 'Open Sans', sans-serif; //default font family
$secondry-font: 'Playfair Display', serif; //sub title font family
$title-font:'Raleway', sans-serif;
$base-font-size:13px; //default basic font size
$alert-color:red; //alert color
$default-border: 1px solid #eee;

