.footer-multiline{
    display:inline-block;
    vertical-align: top;
}

.cta-bg-alternate {
    padding: 25px 0;
    background-color: #ff8100;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin:0 30px 0 30px;
    border-radius: 10px;
}
.freaking-vertical-center {
    margin: .22% 0 0 1.8%;
}

.btn-freaking-vertical-center {
    margin-right:10%;
    margin-top:1%;
}

.theme-btn-evt {
    background-color: #ff8100;
    color: #ffffff;
    white-space:normal;
}

h4.h4-crowdfunding#crowdfunding{
    font-weight: 300;
    text-align: center;
    font-size: 26px;
}