<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} | RIT EVT</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="shortcut icon" href="{% include avatar_url %}?s=16">
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,500,300italic,500italic|Ubuntu+Condensed' rel='stylesheet' type='text/css'>
  <link href="/assets/css/main.css" type="text/css" rel="stylesheet" />
</head>

<body>
  {{ content }}
  {% include footer.html %}
</body>
</html>
